  ul.tabs{
        display: block;
        list-style: none;
        height: 20px;
        border-bottom: 1px solid grey;
        margin-bottom: 0;
      }
      .tabs li{
        float: left;
        margin-left:0;
        text-indent: 0;}
      .tabs a{
        padding-left: 10px;
        width:100px;
        display: block;
        height: 20px;
      }
      .tabs .current, .tabs .current:hover, .tabs li.current a{
        border: 1px solid grey;
        border-bottom-color: white;
        background-color: #fff;}
      div.panes{
        clear: both;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;}
      div.panes h2{margin-bottom: 10px;}
      div.panes div{
        padding:0 10px;
      }
      /* root element for tabs  */
      ul.css-tabs {
        margin:0 !important;
        padding:0;
        height:30px;
        border-bottom:1px solid #666;
      }

      /* single tab */
      ul.css-tabs li {
        float:left;
        padding:0;
        margin:0;
        list-style-type:none;
      }

      /* link inside the tab. uses a background image */
      ul.css-tabs a {
        float:left;
        font-size:13px;
        display:block;
        padding:5px 30px;
        text-decoration:none;
        border:1px solid #666;
        border-bottom:0px;
        height:18px;
        background-color:#efefef;
        color:#777;
        margin-right:2px;
        position:relative;
        top:1px;
        outline:0;
        -moz-border-radius:4px 4px 0 0;
      }

      ul.css-tabs a:hover {
        background-color:#F7F7F7;
        color:#333;
      }

      /* selected tab */
      ul.css-tabs a.current {
        background-color:#ddd;
        border-bottom:1px solid #ddd;
        color:#000;
        cursor:default;
      }

      /* tab pane */
      .css-panes div.pane {
        display:none;
        border:1px solid #666;
        border-width:0 1px 1px 1px;
        min-height:150px;
        padding:15px 20px;
        background-color:#ddd;
      }
		/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

