/*Normalize reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
*/
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
*/
audio:not([controls]) {
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
*/
[hidden] {
    display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/
html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
*/
body,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
*/
a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
*/
a:hover,
a:active {
    outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
*/
abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in S5, Chrome
*/
dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
*/
mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
*/
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
*/
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
*/
/* 1 */
q {
    quotes: none;
}
/* 2 */
q:before,
q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/
img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
*/
svg:not(:root) {
    overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
*/
figure {
    margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== *
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
*/
legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
*/
button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
*/
button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6
*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
*/
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
*/
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
*/
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
*/
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*end Normalize reset*/


/* Global Styles */
body{background:url(../images/bg.png) repeat-x #FFFFFF; font-size:12px;	font-family:'Helvetica', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; color:#000000;}
a:focus								{outline:1px dotted;}
a									{color:#717171; text-decoration:none;}
a:hover								{text-decoration:none;}
a span								{font-size:90%;}
h1									{font-size:25px;}
h2									{font-size:23px;}
h3									{font-size:21px;}
h4									{font-size:19px;}
h5									{font-size:17px;}
h6									{font-size:14px;}
ol									{list-style:decimal;}
ul									{list-style:disc;}
li									{margin-left:20px; position:relative;}
p,
li,
dl									{line-height:18px;}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
img									{margin-bottom:20px;}
#wrapper							{margin-top:7px;}
ul li ul,
ol li ol							{margin-bottom:0px;}
ol									{padding: 0 0 0 5px;}

/* Custom Grid */

.container_12 						{margin-left:auto; margin-right:auto; width:1020px;}
.float								{display:inline; float:left; position:relative;}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12{display:inline; float:left; position:relative; margin-left:20px; margin-right:20px;}

.container_12 .grid_1				{width:45px;}
.container_12 .grid_2 				{width:130px;}
.container_12 .grid_3 				{width:215px;}
.container_12 .grid_4 				{width:300px;}
.container_12 .grid_5 				{width:385px;}
.container_12 .grid_6 				{width:470px;}
.container_12 .grid_7 				{width:555px;}
.container_12 .grid_8 				{width:640px;}
.container_12 .grid_9 				{width:725px;}
.container_12 .grid_10 				{width:810px;}
.container_12 .grid_11 				{width:895px;}
.container_12 .grid_12 				{width:980px;}

/*Common*/
#skip_links{position: absolute; height: 0;overflow: hidden;} /*accessiblity aid*/

.mb-10px{margin-bottom: 10px;}/*margin-bottom:10px*/

/*table*/
table caption{text-align: left; font-weight: bold;font-size: 18px;}
table th{text-align: center;vertical-align: baseline; font-weight: bold}
table td{padding:0 10px 0 10px; border:1px solid #000;vertical-align: top; }

pre{/*html code */
    border:1px solid #999;
    border-left-width:10px;
    padding:0;
    background-image: url(../images/common/pre_code_bg.gif);
    background-repeat: repeat;
    background-position: left top;
    width:700px;
    overflow:auto;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 18px;}
pre code{/*html code */
    display: block;
    margin-left: 20px;}

/*background color*/

.bg_white{background-color: #fff}
.bg_greylight{background-color: #eef;}
.bg_grey{background-color: #ddd;}
.bg_greydark{background-color: #ccc;}
.bg_green{background-color:#8FC73E;}
.bg_yellow{background-color: yellow;}

/*equal height*/
.height_equal{height:300px;}

.highlight_normal{font-weight: bold;}
.highlight_marker{background-color: yellow;font-weight: bold;color:#000;}

div.spacer{height: 1em;background-color: #8FC73E;}

div#header{}
div#navbar{}
div#navbar ul{padding:10px 0;list-style: none;display: block;}
div#navbar ul li{float: left;}

div#banner_left{}
div#banner_left_inner{padding:0 10px ;border:solid 10px #ddd;}
div#banner_right{}
div#banner_right_inner{padding:0; border:solid 10px #ddd;}
div.content_main{}

/*button backHome effect*/
div.backHome{padding:10px;}
.button, .button:visited 			{background:#000000 url(../images/alert-overlay.png) repeat-x; display:inline-block; padding:5px 10px 6px; color:#fff; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); text-shadow:0 -1px 1px rgba(0,0,0,0.25); border-bottom:1px solid rgba(0,0,0,0.25); position:relative; cursor:pointer; font-size:13px; font-weight:bold; line-height:1; border:0;}
.button:hover						{background-color:#111; color:#fff; text-decoration:none;}
.button:active						{top:1px;}
.green{background-color: #6DAF15 !important;}


.clearfix:after{/* self-clear floats */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*Title: IE patches*/
/* self-clear floats */
* html .clearfix { /* IE6 */ height: 1%;}
*:first-child+html .clearfix { /* IE7 */ min-height: 1px;}
/* fix ticker height */
*:first-child+html h4#things-count span {line-height: 2;}

/*navigation layout- horizaon*/
.horizon{float:left;}
.horizon li{float: left; display: inline-block;}
.horizon li a{float:left; display: block;}

.mb_10{margin-bottom: 10px;}
.no_mb10{margin-bottom: 0;}

/*link type visual aid*/
a[href $='.pdf']{padding-right: 16px; background: transparent url(../images/common/icon_pdf.gif) no-repeat center right;}
/*end Common*/

/* Global Classes */
.hr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0 ;margin-bottom :10px;}
.pr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0; margin-bottom :30px;}
.dotted								{border-style:dashed; border-left:0; border-right:0;}
.meta								{font-weight:normal;font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; font-size:11px; color:#999999 !important; line-height:16px; text-transform:none; text-shadow:none;}
.right								{float:right;}
.left								{float:left;}
.img_left							{float:left; margin:10px 20px 10px 0;}
.img_right							{float:right; margin:10px 0 10px 20px;}
.clear								{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.textright 							{text-align:right;}
.error,
.success							{display:none;}
.fontLarge,.fontLarge p{font-size: 14px;font-weight: normal;}

/* Buttons */

.button, .button:visited 			{background:#000000 url(../images/alert-overlay.png) repeat-x; display:inline-block; padding:5px 10px 6px; color:#fff; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); text-shadow:0 -1px 1px rgba(0,0,0,0.25); border-bottom:1px solid rgba(0,0,0,0.25); position:relative; cursor:pointer; font-size:13px; font-weight:bold; line-height:1; border:0;}
.button:hover						{background-color:#111; color:#fff; text-decoration:none;}
.button:active						{top:1px;}
.green{background-color: #6DAF15 !important;}

/* Site Logo */
h1#logo { margin-top:0;margin-bottom:0; height:97px;}
h1#logo span{font-size:14px;font-weight: normal; position: absolute; top:47px;left:80px;}

/* Site Navigation */
ul#navigation						{text-transform:uppercase;}
ul#navigation li 					{float:right; display:inline; margin : 0 0 0 50px;}
ul#navigation li a					{font-family:arial, sans-serif !important; display:block; padding:44px 0 0; text-decoration:none; color:#000000; font-size:14px; font-weight:bold;}
ul#navigation li a:hover            {background:url(../images/triangle.gif) no-repeat center top;}
ul#navigation li a.current			{background:url(../images/triangleGreen.gif) no-repeat center top;}

/* Footer */

.footer,
.footer a							{color:#494949;}
.footer a:hover						{color:#9d9d9d;}

/* Sub Navigation */

ul.sidebar							{list-style:none; margin:0 0 30px 0; padding:0;}
ul.sidebar li						{margin:0 0 0 0; padding:0;}
ul.sidebar a						{width:295px;display:inline-block; padding:10px 0 10px 5px; border-bottom:1px solid #e4e4e4; text-decoration:none; color:#393939; }
ul.sidebar li:last-child a			{-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px;  -webkit-border-bottom-left-radius:5px;  -webkit-border-bottom-right-radius:5px;}
ul.sidebar li:first-child a			{-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;  -webkit-border-top-left-radius:5px;  -webkit-border-top-right-radius:5px;}
ul.sidebar a:hover					{width:280px; background:#f6f6f6; padding:10px 0 10px 20px; }

/* Caption */

h2.caption 							{color:#494949; text-shadow:1px 1px 1px #cfcfcf; font-size:23px; line-height:30px;font-weight:normal; }
h2.caption span						{color:#000000; font-weight:bold;}
h2.caption a					    {color:#494949; }
h2.caption a:hover					{text-decoration : underline;}

/* Homepage QuickNavigation */

#quicknav							{background:url(../images/link_border.png) repeat-x;}
a .title 							{color:#000000;}
.quicknavgrid_3						{width:204px; margin:0px; padding:20px 20px 0; display:inline; float:left; position:relative; margin-left:1px;}
.quicknav							{background:#FFFFFF;}
.quicknav:hover						{background:url(../images/link_bg.png) repeat-x;}
.quicknavhr							{margin-bottom:0;}
.quicknav.alpha						{margin-left:0; width:205px;}

/* About Us Page Timeline */

dl.history							{margin:10px 10px;}
dl.history							{margin:0 0 10px 0; zoom:1}
dl.history dt						{width:50px; float:left; font-weight:bold;}
dl.history dd						{width:250px; float:left; padding:0; margin-bottom:20px;}

/* Common Scroller Styles */

.roundabout-holder 					{list-style:none; width:500px; height:300px; margin:0px auto;}
.roundabout-moveable-item 			{font-size:12px!important; height:300px; width:600px; cursor:pointer; padding:5px; border:1px solid #aaaaaa; -webkit-border-radius:5px; -moz-border-radius:5px; background:#f9f9f9;}
.roundabout-moveable-item img 		{height:100%; width:100%; background-color:#FFFFFF; margin:0;}
.roundabout-in-focus 				{cursor:auto;}
.roundabout-in-focus:hover			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
.roundabout-holder span				{display:none; font-size:12px;}
.roundabout-in-focus:hover span		{display:inline; position:absolute; bottom:5px; right:5px; padding:8px 20px; background:#f9f9f9; color:#000000; z-index:999; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px; font-size : 12px;border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; }
.roundabout a:active,
.roundabout a:focus,
.roundabout a:visited				{outline:none; text-decoration:none;}
.roundabou li 						{margin:0}
a img								{border:none; outline:0;}

/* Featured Image Slider */

#featured							{margin:10px 0 40px 0;}

/* Portfolio Image Slider */

#folio_scroller_container						{margin-top:35px; margin-bottom:40px; height:auto;}
#folio_scroller_container .roundabout-holder	{list-style:none; height:400px; margin:0px auto 20px auto;}

/* Portfolio Styles */

.portfolio_item						{width:223px; position:relative; margin:0 14px 28px 14px; padding:0;}
.portfolio_item img					{padding:5px; border: 1px solid #aaaaaa; width:211px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;}
.portfolio_item span				{display:none;}
.portfolio_item:hover img			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
.portfolio_item:hover span			{display:inline; position:absolute; bottom:6px; right:6px; padding:10px 15px; background:#f9f9f9; color:#000000; z-index:999; border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px;}

.projectIntro h6{font-size:12px; margin-bottom: 5px;}
.projectIntro ul{margin-bottom: 10px;}
.projectIntro p{ margin-bottom: 10px; line-height: 15px}
.projectIntro li{ margin-bottom: 5px;line-height: 15px;}

/* Blog Post Styles */

.post a:hover						{text-decoration:underline;}
.post .title						{color:#393939; font-size:30px;}
.post .title a						{color:#393939; text-decoration:none;}
.post a.button:hover				{text-decoration:none;}
.post .sub							{font-size:12px; color:#9d9d9d;}
.post .thumb						{width:619px; height:150px; padding:5px; border: 1px solid #cccccc; -moz-border-radius:5px; -webkit-border-radius:5px;}

/* Comment's List */

.commentlist						{margin:0; padding:0; margin-bottom:20px; float:left; width:100%;}
.commentlist li						{width:100%; clear:both; float:left; padding:0; list-style-type:none; margin:0; position:relative;}
.gravatar							{float:left; width:60px; padding:0px 10px 0 0; text-align: center;}
.gravatar img						{display:block; padding:5px; padding-left:none; margin-bottom:0px;}
.comment_content					{float:left; width:569px;}
.commentmetadata					{float:right;}
.comment-reply-link					{text-decoration:none; font-size:10px;}
.author_name						{font-weight:bold; font-style:normal; font-size:15px; float:left;}
.author_name a{color:#000000;}
.comment_text						{clear:both; margin-top:10px;}
.comment-reply-link					{text-align:center; display:block;}

/* Contact Form */

p.error								{margin-left:140px; margin-top:10px;}
#contact_form ul					{float:left;}
#contact_form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
#contact_form label					{line-height:35px; width:100px; text-align:right; float:left; margin-right:10px;}
#contact_form input#name,
#contact_form input#email,
#contact_form input#subject,
#contact_form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px; background:#fcfcfc; -moz-border-radius:5px; -webkit-border-radius:5px;}
#contact_form input#name,
#contact_form input#email,
#contact_form input#subject			{width:400px;}
#contact_form textarea				{width:500px;height:150px; resize: none;}
#contact_form input.button			{float:right;}

/* Comment form */

#comment_form ul					{float:left;}
#comment_form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
#comment_form label					{line-height:35px; width:100px; text-align:right; float:left; margin-right:10px;}
#comment_form input,
#comment_form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px; background:#fcfcfc; -moz-border-radius:5px; -webkit-border-radius:5px;}
#comment_form input					{width:400px;}
#comment_form textarea				{width:500px; height:150px; resize:none;}

/* Contact Page Sidebar */

.contact ul 						{list-style:none;}
.contact li 						{margin:0;}

/* Overiding Classes */
/* Must remain at the bottom of the stylesheet */
.clearfix:after						{clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0;}
* html .clearfix 					{height:1%;}
.alpha								{margin-left:0;}
.omega								{margin-right:0;}

#guideline{}
#recent_info{
    margin:0 20px;
    padding:0 0 20px 0;
    background: url(../images/link_border.png) repeat-x left top;
}
#recent_info_left{
    float:left;
    position: relative;
}
#recent_info_left_icon{
    position: absolute;
    top:0;
    left:10px;
    z-index: 1;
}
#recent_info_left_icon a{
    display: block;
    width: 122px;
    height: 126px;
    text-indent: -9999px;
    background: url(../images/common/icon_twitterbird.png) no-repeat left top;
}
#recent_info_left_icon a:hover{
    background: url(../images/common/icon_twitterbird.png) no-repeat 0 -126px;
}

#home #twtr-widget-1{
    width: 300px;
    padding:0 0 0 140px;
}
#home .twtr-doc{
    border: 1px solid #aaa !important;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#home .twtr-tweet{
    border-bottom: 1px dotted #bbb;
}
#recent_info_right{
    float: left;
    position: relative;
}
#recent_info_right #whiteline{
    position: absolute;
    left: 40px;
    top:-23px;
    height:370px;
    width: 10px;
    background-color: #fff;
    z-index: 1;
}
#recent_info_right_icon{
    position: absolute;
    top:0;
    left:60px;
    z-index: 1;
}
#recent_info_right_icon a{
    display: block;
    width: 122px;
    height: 126px;
    text-indent: -9999px;
    background: url(../images/common/icon_project.png) no-repeat left top;
}
#recent_info_right_icon a:hover{
    background: url(../images/common/icon_project.png) no-repeat 0 -126px;
}
#recent_info_right_content{
    padding: 0 0 0 190px;
    width: 300px;
}

#recent_info_right_content_inner{
    background: #bfbfbf;
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);-moz-box-shadow: 0 0 5px rgba(0,0,0,.5);box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 1px solid #aaa;
}
#recent_info_right_content_inner a{
    color:#1369ab;
}
#recent_info_right_content a:hover{
    text-decoration: underline;
}
#recent_info_right_content_footer{
    font-weight: bold;
    height: 50px;
    padding:0 10px;
    text-align: right;
}
#recent_info_right_content_footer a{
    color: #fff;
    font-size:13px;
}

#recent_info_right_content h3{
    padding:15px 10px;
    color:#fff;
}
#recent_info_right_content ul{
    margin-bottom: 10px;
    list-style-type: none;
    background:#eeeeee;
    height:200px;
}
#recent_info_right_content li{
    margin: 0;
    border-bottom: 1px dotted #bbb;
    padding:6px 8px;
}
#nav_top{
    display: block;
}
#nav_top span{
    display: block;
    padding-left:16px;
    background: url(../images/common/icon_up.png) no-repeat left 2px;
}
#aboutme a{
    color:#1369AB;
    text-decoration: underline;
}

.portfolio_media_content{
    margin: 70px 0 0 100px;
}